*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #555;
}
.teclado {
    display: flex;
}

.oitava { 
    
    position: relative;
    display: flex;
}

.branca {
    background-color: white;
    width: 50px;
    height: 300px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.50);
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.808);
    border-radius: 0px 0px 5px 5px;

}

.preta {
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 26px;
    height: 160px;
    box-shadow: inset -2px 0px 5px rgb(253, 252, 252);
    box-shadow: 2px 0px 5px rgb(29, 29, 29);
    border-radius: 0px 0px 5px 5px;
}



[Csus] {
    left: 37px;
}

[Rsus] {
    left: 87px;
}

[Fsus] {
    left: 187px;
}

[Gsus] {
    left: 237px;
}

[Asus] {
    left: 287px;
}

.selecionada {
    background-color: burlywood;
}


